.submitBtn {
    justify-content: flex-end;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
}
.addBtn {
    background: #969ca1 !important;
    color: white !important;
    border: none !important;
    width: 200px;
    border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
}

